.home-container {
  padding: 2rem;
  text-align: center;
}

.card-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.user-card {
  text-decoration: none;
  background: var(--color-tertiary);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 250px;
  color: var(--color-black);
  transition: transform 0.2s ease;
}

.user-card:hover {
  transform: translateY(-5px);
  background: var(--color-secondary);
  color: var(--color-white);
}
