body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  color: var(--color-quaternary);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-regular);
  overflow-x: hidden;
}

#root {
  height: 100%;
  min-width: 1024px;
}